body{
  padding-top: 50px;
}
.mens-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: 30px;
  margin-top: 40px;
  row-gap: 15px;
  margin-bottom: 10px;
  background-color:#e9edc9;
}
.mens-name {
  font-weight: bold;
  font-size: 20px;
}

.mens-picture img {
  margin-top: 5px;
  width: 180px;
  margin-left: 10px;
  height: 250px;
}
.mens-info {
  box-shadow: 1px 1px 4px gray;
  width: 200px;
}
.mens-price {
  font-size: 18px;
  color: rgb(104, 102, 102);

}
.buy {
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  margin-left: 13px;
  background-color: rgb(42, 187, 232);
  cursor: pointer;
  color: white;
}
.buy:hover {
  background-color: red;
}
.add-to-cart {
  border: none;
  padding: 5px 8px;
  border-radius: 3px;
  margin-left: 5px;
  background-color: rgb(245, 114, 36);
  cursor: pointer;
  color: white;
}
.add-to-cart:hover {
  background-color: black;
}
.mens-description p {
  margin-left: 13px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.mens-description button {
  margin-bottom: 8px;
}

.social ul li {
  display: inline-block;

  padding-left: 5px;
}
.social ul {
  margin-top: 10px;
  margin-left: 50%;
}
.social img {
  height: 20px;
}
.footer p {
  margin-left: 43%;
  font-size: 15px;
}
.footer a {
  color: red;
  padding: 3px;
  border-radius: 3px;
}




